* {
	box-sizing: border-box;
	font-family: sans-serif;

}

h1 {
	text-align: center;

}

/*
.container {
	max-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 20px auto;
} */

.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.d-flex a {
	flex: 1;
}

#select-trans {
	width: 300px;
	padding: 8px;
	border: 1px solid #aaa;
	border-radius: 6px;
	margin-bottom: 15px;
}

img {
	max-width: 100%;
	min-width: 170px;
	height: auto;
}

@media (max-width: 600px) {
	.d-flex a {
		width: 50%;
		flex: 0 0 50%;
	}
}

.container-my {
	max-width: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #000000 !important;
}

.navbar-custom {
	margin-bottom: 20px;
	color: #07ad0c !important;
	background-color: #000000 !important;
}

.nav-item-custom {
     color: #07ad0c !important;
}

.custom-toggler.navbar-toggler {
	border-color: #000000;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(7,173,12,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Animated Navigation */

.navbar-toggler {
	width: 40px;
	height: 20px;
	position: relative;
	transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
	border: 0;
}

.navbar-toggler span {
	margin: 0;
	padding: 0;
}

.toggler-icon {
	display: block;
	position: absolute;
	height: 8px;
	width: 100%;
	background: #07ad0c;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.middle-bar {
	margin-top: 0px;
}

/* when navigattion is clicked */
.navbar-toggler .top-bar {
	margin-top: 0px;
	transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
	margin-top: 0px;
	transform: rotate(-135deg);
}

/* State when navbar is collapsed*/

.navbar-toggler.collapsed .top-bar{
	margin-top: -16px;
	transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
	margin-top: 15px;
	transform: rotate(0deg);
}
