<IfModule mod_access.c>
Order allow,deny
Allow from all
</IfModule>

DirectoryIndex index.php

<FilesMatch "\.(gif|jpg|jpeg|png|JPG)$">
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(gif|jpeg|jpg|png|JPG)$ /watermark.php [T=application/x-httpd-php,L,QSA]
</FilesMatch>

